body{
    background-image: url(../img/aurora.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body h2{
    color: white;
}

.container{
    color: white;
}

.container .kiri{
    width: 48%;
    display: inline-block;
}

.container .kanan{
    width: 48%;
    display: inline-block;
}

.kelas1{
    width: 48%;
    display: inline-block;
}

.container2 .forum1 , .forum2{
    width: 48%;
    display: inline-block;
}

.kontainer p, .foto{
    color: white;
}

.kontainer .foto li{
    margin-bottom: 2%;
}

.kontainer .size img{
    height: 15%;
    width: 15%;
    margin-right: 6%;
}

.kontainer .size .img-add{
    margin-top: 4%;
}

.kontainer .form{
    margin-bottom: 1%;
}

.kontainer form{
    margin-left: 5%;
}

.kontainer textarea{
    margin-left: 0.2%;
}

.kontainer .button{
    margin-left: 26%; 
    margin-top: 5%;
}
